<h1>Hola Mundo</h1>

<p>Ejemplo con href</p>
<a href="/">Inicio</a>
<p>Ejemplo con link_to</p>
<%= link_to "Inicio", "/" %>
<p>Ejemplo con root_url</p>
<%= root_url %>
<p>Ejemplo con root_path</p>
<%= root_path %>

<p>Reescribimos el link_to con root path</p>
<%= link_to "Inicio", root_path %>