<div>
  <h2><%= @photo.title %></h2>
  <%= image_tag @photo.image_url %>
</div>
<div>
    <%= link_to "Editar", "/photos/#{@photo.id}/edit" %>
    <%= link_to "Eliminar", "/photos/#{@photo.id}", method: :delete %>
</div>